<template>
    <div class="pixelize">
        <h1>Pixelize!!!</h1>
        <div>
            <label>
                <input type="file" v-on:change="upload" accept="image/*" />
            </label>
        </div>
        <p>オリジナル画像の幅：{{ widthBefore }}</p>
        <p>オリジナル画像の高さ：{{ heightBefore }}</p>
        <div>
            <h2>変換前プレビュー</h2>
            <canvas id="preview-before"></canvas>
        </div>
    </div>
</template>
<script>
export default {
  name: "Pixelize",
  data() {
    return {
      widthBefore: 0,
      heightBefore: 0,
    };
  },
  methods: {
    upload: function(event) {
      let img = null;
      let file = event.target.files;
      if (file.length == 0) {
        return;
      }
            let reader = new FileReader();
            reader.readAsDataURL(file[0]);

            // ファイルを読み込んだときの処理
            reader.onload = function () {
                img = new Image();
                // 画像が読み込まれたときの処理（canvasに描画）
                img.onload = function () {
                    let canvas = document.getElementById("preview-before");
                    if (canvas.getContext) {
                        let context = canvas.getContext("2d");
                        this.widthBefore = img.width;
                        this.heightBefore = img.height;
                        canvas.width = this.widthBefore;
                        canvas.height = this.heightBefore;
                        context.drawImage(img, 0, 0);
                    }
                }.bind(this);
                img.src = reader.result;
            }.bind(this);
        }
    }
};
</script>